{% extends "base.html" %}

{% load static %}

{% block styles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/story8.css' %}">
<title>Search</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="judul text-center">Place to find the best books for you.</h1>
    <div class="flex-lg-column justify-content-center">
        <input type="text" class="form-control" id="search" placeholder="Search books or type the title here..">
    </div>
    <table class="table justify-content-center text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Cover</th>
                <th scope="col">Book Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher and Published Date</th>
            </tr>
        </thead>
        <tbody id="books"></tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/story8.js' %}"></script>
{% endblock %}
