@font-face {
    font-family: "Adreena";
    src: url('../fonts/AdreenaScript-Demo.ttf');
}

.check{
    margin-top: 5%;
    margin-bottom: 4%;
}
.judul{
    font-family: "Adreena";
    margin-bottom: 3%;
}
.profile{
    background-color: black;
    padding: 5%;
    margin: 1%;
}

.data-profile{
    padding: 4%;
    background-color:white;
}

.about{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 1%;
}

#accordion{
    width: 92%;
}

.data-hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
    margin-bottom: 1%;
    padding: 2%;
}

.data-acd{
    background-color: white;
    padding: 3%;
}

.img-photo{
    width: 100%;
    height: 70%;
    margin-bottom: 2%;
}

#toggle{
    transform: scale(1.2);
    cursor: pointer;
    margin-top: 20%;
    right: 100%;
}

.custom-control-input:checked ~ #toggle::before {
    border-color: rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
}
