@font-face {
    font-family: "Stardust";
    src: url('../fonts/StardustAdventure.ttf')
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-top: 56px;
}

.navbar{
    height: 15%;
    background: black;
    position: fixed;
    width: 100%;
    top: 0%;
    font-size: 44px;
    color: white;
    font-family: "Stardust";
}

.navbar-brand{
    font-size: 44px;
    margin-left: 1%;
    color: white;
}

.navbar-toggler{
    background: black;
}

.nav-link{
    color: white;
}

.footer{
    height: 12%;
    padding-top: 30px;
    background: black;
    color: white;
    font-family: "Stardust";
    font-size: 30px;
    line-height: 10%;
    bottom: 0%;
}


