@font-face {
    font-family: "Adreena";
    src: url('../fonts/AdreenaScript-Demo.ttf');
}

.form-container{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: grey;
    border-radius: 5%;
    padding: 3%;
}

.status-judul{
    color: white;
    font-family: "Adreena";
    margin-bottom: 2%;
}

.button-submit{
    margin-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: gainsboro;
    color:black;
    font-size: 20px;
    font-family: "Adreena";
    border-radius: 10%;
}

.message-sheet{
    background-color: grey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    color: white;
    margin: 3%;
    border-radius: 5%;
}

.date-message{
    color: black;
    font-size: 12px;
}