{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">
<script src="{% static 'js/aboutme.js' %}"></script>
{% endblock %}

{% block content %}
<div class="check row">
    <div class="custom-control custom-switch ml-auto" id="change">
        <input type="checkbox" class="custom-control-input" id="custom" onchange="change()">
        <label class="custom-control-label" for="custom" id="toggle">Change Theme</label>
    </div>
</div>

<h4 class="judul text-center">Hello, I’m Shannia Dwi Melianti and <br/> I’m interesting in design and technologies.</h4>

<div class="container">
    <div class="row">
        <div class="profile col-md-4">
            <img src="../static/img/image.jpg" alt="profile picture" class="img-photo">
            <div class="data-profile">
                <h6 class="text-center">Shannia Dwi Melianti</h6>
                <h6 class="text-center">Tangerang, 12 Maret 2000</h6>
                <h6 class="text-center">Loving art and music.</h4>
            </div>
        </div>
        <div class="about col-sm-7">
            <div id="accordion">
                <h3 class="data-hover">Activities</h3>
                    <div class='data-acd'>
                        <p>Study in Fasilkom UI.</p>
                        <p>Singing and make art stuff.</p>
                        <p>Become a part of Puspa Swara.</p>
                    </div>
                <h3 class="data-hover">Experiences</h3>
                    <div class="data-acd">
                        <p>2016 Secretary at Voseuth Choir</p>
                        <p>2019 Decoration Division Staff at UI Ethnovaganza 2019</p>
                    </div>
                <h3 class="data-hover">Achievements</h3>
                    <div class="data-acd">
                        <p>2015 3rd Place in Jabodetabek Vocal Grup Competition</p>
                        <p>2018 1st Best Student at Natural Science Major SMAN 7 Tangerang Selatan</p>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}{% endblock %}