{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/statuspage.css' %}">
{% endblock %}

{% block content %}

<div class="first-container container-fluid">
    <div class="form-container container-fluid">
        <form method="POST" action="/status/">
            <h1 class="status-judul text-center">Write your status!</h1>
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button-submit" value="Submit" name='name_submit' id='id_submit'/>
        </form>
    </div>
</div>

<div class="status-container container-fluid">
    {% for j in list %}
    <div class="message-sheet">
        <div class="row">
            <div class="col-md-10">
                <p class="message"> {{ j.description }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="date-message">{{ j.model_date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block script %}{% endblock %}