{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h2 class='selamat text-center'>Selamat datang, {{ user }}!</h2>
<button class="button text-center"><a href='{% url "story9:logout" %}'>Logout</a></button>

{% else %}
<h2 class='selamat text-center'>Eh, kamu belum login lho. Login dulu yuk!</h2>
<button class="button"><a href='{% url "story9:home" %}'>Login</a></button>
{% endif %}

{% endblock %}

{% block script %}{% endblock %}