{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/halamanlogin.css' %}">
{% endblock %}

{% block content %}
<h2 class="hello text-center">Welcome to my website!<br/>Login dulu yuk.</h2>
<div class='container-fluid text-center'>
    {% if form.errors %}
    {{error}}
    {% endif %}
    <form method="POST" action='/story9/'>
        {% csrf_token %}
        <label>Username : </label>
        <br/>
        {{ form.username }}
        <br/>
        <label>Password   : </label>
        <br/>
        {{ form.password }}
        <br/>
        <input type="submit" value="Login" class="button">
    </form>
</div>

{% endblock %}

{% block script %}{% endblock %}