@font-face {
    font-family: "Adreena";
    src: url('../fonts/AdreenaScript-Demo.ttf');
}

.selamat{
    margin-top: 10%;
    font-family: "Adreena";
}

.button{
    width: 6%;
    margin-bottom: 17.3%;
    margin-top: 3%;
    margin-left: 47%;
}