@font-face {
    font-family: "Adreena";
    src: url('../fonts/AdreenaScript-Demo.ttf');
}

.hello{
    margin-top: 5%;
    font-family: "Adreena";
    margin-bottom: 3%;
}

.container-fluid{
    width: 30%;
    margin-bottom: 3%;
    padding: 3%;
    background-color: black;
    color: white;
    border-radius: 20%;
}

.button{
    margin-top: 10%;
}

