@font-face {
    font-family: "Adreena";
    src: url('../fonts/AdreenaScript-Demo.ttf');
}


body{
    background:rgb(220, 220, 220);
}

.judul{
    margin-top: 5%;
    font-family: "Adreena";
}

.form-control{
    margin-left: 20%;
    margin-right: 20%;
    text-align:center;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
    height: 70%;
    font-size: 24px;
}

#books{
    padding: 10%;
}

